<div class="col-xs-12 condidates-header">

</div>
<div class="col-xs-12 container single-candidate">
  <h1>Candidate</h1>
  <div class="col-md-4">
    <h4>Name</h4>
    <h5><%= @candidate.full_name %></h5>
    <h4>Gender</h4>
    <h5><%= @candidate.gender %></h5>
    <h4>Date of birth</h4>
    <h5><%= @candidate.date_of_birth %></h5>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
