<div class="col-xs-12 sub-header">
</div>
<div class="col-xs-12">
  <h4 class="about-top-line">About</h4>
  <div class="col-xs-12 col-md-8 about-description">
    <p>The Irish Election Open Database is a project hosted by Storyful news agency. Similar projects exist in the United Kingdom, including YourNextMP. This database has been built by Storyful journalists and developers in coordination with students from the school of communications in Dublin City University (DCU) and other open data enthusiasts.</p>

    <p>All of the information is open source (licensing details). We have built a simple search functionality on this site, but we encourage news organizations, universities, and others to build search tools using the data we have gathered (API access here). Additionally, data enthusiasts can download the data in CSV format.</p>

    <p>We sourced much of the information for the database during an #electathon held at Storyful on Friday, November 6. Team members took several constituencies each and searched for confirmed candidates using local and national news sources, Twitter, and the great work by Dr. Adrian Kavanagh.</p>

    <p>The database is still work-in-progress! If you would like to help with the project, spot any mistakes or have any suggestions contact <a href="mailto:donie.osullivan@storyful.com">mailto:donie.osullivan@storyful.com</a></p>
    <!-- <p class="form-header">Contact us</p>
    <label for="name">Name</label>
    <input type="text" id="name"><br>
    <label for="email">Email</label>
    <input type="text" id="email"><br>
    <textarea value="message">
    </textarea><br>
    <input type="submit"> -->
  </div>
  <div class="col-xs-12 col-md-4">
    <a class="twitter-grid" href="https://twitter.com/_/timelines/662655280333742080">A Collection on Twitter</a> <script async src="https://platform.twitter.com/widgets.js"></script>
  </div>
</div>
