<div class="col-lg-6">
  <h3>Welcome to the Irish Election Open Database. Powered by Storyful.</h3>
  <a href="/about">Read More</a>
  <h3>Search by name or constiuency</h3>
  <%= render 'shared/search' %>
  <h4><%= link_to 'Download Full CSV', candidates_url(format: :csv) %></h4>
</div>
<div class="col-lg-6">
  <iframe width="460" height="259" src="https://www.youtube.com/embed/kfVsfOSbJY0" frameborder="0" allowfullscreen></iframe>
</div>
