%h1 Irish Elections Database
%ul
  %li
    %a= link_to 'Candidates', candidates_url
  %li
    %a= link_to 'Download All Candidates as CSV', candidates_url(format: :csv)
  %li
    %a= link_to 'Admin', admin_root_url
