@import 'shared';

.about-description {
  max-width: 570px;
}
.about-top-line {
  color: $orange;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-header {
  color: $orange;
}
