@import 'shared';

.candidate-pic {
  float: left;
  img {
    width: 70px;
    height: 70px;
  }
}
.candidate-info {
  float: left;
}
.single-candidate {
  h1 {
    font-size: 28px;
    color: $orange;
    text-align: center;
  }

  .candidate-details {
    float: right;
  }
}
