@import 'shared';

.home-container {
  background-color: $orange;
  display: inline-block;
  color: white;
  height: 400px;
  padding-top: 50px;
  a {
    color: white;
  }
  input {
    color: black;
  }
}
.search-text {
  font-weight: normal;
}
