@import 'shared';

.home-container {
  display: inline-block;
  color: white;
  height: 400px;
  padding-top: 60px;
  a {
    color: white;
    font-size: 16px;
  }

  input {
    color: black;
  }

  h4 {
    font-size: 22px;
  }

  .intro {
    padding-top: 20px;
  }

  .search-text {
    margin-top: 40px;
    font-weight: normal;
  }

  .candidates-search {
    input {
      background-color: $orange;
      border: 2px solid white;
      padding: 5px;
      display: block;
      font-size: 22px;
      border-radius: 0px;
    }
  }

  .download-csv {
    margin-top: 45px;
  }
}
