@import 'shared';

.home-container {
  display: inline-block;
  color: white;
  height: 400px;
  padding-top: 50px;
  width: 100%;
  a {
    color: white;
  }

  input {
    color: black;
  }
}
.search-text {
  font-weight: normal;
}
