@import 'shared';

.home-container {
  display: inline-block;
  color: white;
  height: 400px;
  padding-top: 50px;
  a {
    color: white;
  }

  input {
    color: black;
  }

  h4 {
    font-size: 22px;
  }
}
.search-text {
  font-weight: normal;
}
