@import 'shared';

body {
  margin: auto;
  background-color: $grey-white;
  font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
}

.main-header {
  .header-bar {
    height: 155px;
    background: transparent;
    margin-bottom: 0px;
  }
  .header-menu {
    float: right !important;
    margin-top: 85px;
    text-transform: uppercase;
    a {
      color: #616262;
      text-decoration: none;
      font-size: 18px;
    }
  }
  .logo {
    background: center center image-url('logo.png');
    width: 190px;
    height: 190px;
    display: block;
    position: absolute;
    z-index: 1001;
    top: 20px;
    left: 27px;
  }
}

.sub-header {
  height: 135px;
}

.content-wrapper {
  width: 100%;
}

.main-footer {
  padding: 45px 0px;

  .address {
    float: left;
  }

  .socials {
    float: right;
  }
}
