<!-- Footer stuff -->
<div class="content-wrapper main-footer">
  <div class="container">
    <div class="address">
      <p>Storyful,<br>48 Lower Mount Street<br>Dublin 2, Ireland</p>
    </div>

    <div class="socials">
      <a class="twitter-follow-button" href="https://twitter.com/storyfulieod" data-size="large">Follow @StoryfulIEOD</a>
    </div>
  </div>
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
