<nav class="navbar navbar-default navbar-static-top header-bar">
  <div class="container main-container ">
    <ul class="nav navbar-nav header-menu navbar-right">
      <li><a href="#">Search</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Candidates</a></li>
    </ul>
  </div>
</nav>
