<nav class="navbar navbar-default navbar-static-top header-bar">
  <div class="container main-container ">
    <ul class="nav navbar-nav header-menu navbar-right">
      <li><a href="#">Search</a></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Candidates', candidates_url %></li>
      <li><%= link_to 'API Documentation', apipie_apipie_url %></li>
    </ul>
  </div>
</nav>
